:root{
    --main-white: #F5F7FB;
    --main-purpul: #4D5B9E;
}
.white-blob{
    position: absolute;
    top: 0;
    right: 0;
    width: 130px;
    height: 130px;
    background-image: url(asset/blob\ 5.png);
    background-size: cover;
    z-index: 0;
}
.gray-blob{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background-image: url(asset/blobs.png);
    background-size: cover;
}
*{
    font-family: 'Karla', sans-serif;
}
#root{
    overflow: hidden;
}
body{
    padding: 0;
    margin: 0;
}
.start{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-white);
}

.start p{
    margin: 0 20px 30px;
    max-width: 600px;
    text-align: center;
}
.start button{
    background-color: var(--main-white);
    color: var(--main-purpul);
    border-radius: 10px;
    border: 2px solid var(--main-purpul);
    font-weight: bold;
    font-size: large;
    position: relative;
    z-index: 2;
    transform: 0.5;
    overflow: hidden;
}
.start button::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--main-purpul);
    top: 0;
    left: 0;
    border-radius: 5px;
    transition: 0.1s;
    transform: translateX(-100%);
    overflow: hidden;
    z-index: -1;

}
.start button:hover .start-btn{
    color: var(--main-white);
}
.start button:hover::before{
    transform: translateX(0);
}
.start-btn{
    color: var(--main-purpul);
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px 40px;
}
/* start quiz components  */
.quiz-container{
    padding: 40px 80px ;
    min-height: 100vh;
    background-color: var(--main-white);
    position: relative;
}
@media(max-width:375px){
    .quiz-container{
        padding: 10px 15px ;
    }  
}
@media(max-width:675px){
    .quiz-container{
        padding: 20px 45px ;
    }  
}

.quiz{
    padding: 25px 0;
    border: 1px solid #DBDEF0;
    border-width: 0px 0  1px;
}
.quiz h2{
    text-transform: capitalize;
    margin: 0 0 15px;
    padding: 0;
    color: #293264;
}
.quiz form{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.quiz input[type="radio"]{
    display: none;
}
.quiz label{
    border: 1px solid #DBDEF0;
    padding: 4px 8px;
    border-radius: 8px;
    margin: 20px 20px 20px 0px;
    color: #293264;
    display: flex;
}

@media(max-width:375px){
    .quiz label{
        margin: 10px 10px 0 0 ;
    }  
}

.quiz-container button{
    background-color: var(--main-white);
    color: var(--main-purpul);
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid var(--main-purpul);
    font-weight: bold;
    font-size: large;
    position: relative;
    z-index: 2;
    transform: 0.5;
    overflow: hidden;
    margin: 50px 40%;
}
.quiz-container button::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--main-purpul);
    top: 0;
    left: 0;
    border-radius: 5px;
    transition: 0.1s;
    transform: translateX(-100%);
    overflow: hidden;
    z-index: -1;

}
.quiz-container button:hover{
    color: var(--main-white);
}
.quiz-container button:hover::before{
    transform: translateX(0);
}
.selected{
    background-color: #D6DBF5;;
}
.false{
    background-color: #F8BCBC ;
    color: #b8ecb3;
}
.true{
    background-color: #94D7A2;
}
/* start popup  */
.popup{
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-10%);
}
.popup-container{
    background-color: rgba(255, 255, 255, 0.932);
    position: fixed;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: to-up 0.5s 1;
}
@media (max-width:400px) {
    .popup-container{
        width: 250px;
        transform: translateX(-10px);
    }
}
.popup-txt{
    margin-bottom: 50px;
    color: #293264;
}
.popup-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup-btns button{
    width: 170px;
    margin: 0;
    background-color: transparent;
}

.popup-btns button:first-child{
    border-color: #fd7171;
    color: #fd7171;
    padding: 0;
}
.popup-btns .restart-link{
    border-color: #fd7171;
    color: #fd7171;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px 30px;
}
.popup-btns button:first-child::before{
    background-color: #fd7171;
}
.popup-btns button:hover .restart-link{
    color: white;
}
.popup-btns button:hover{
    color: white;
}
.popup-btns button:nth-child(2){
    border-color: #94D7A2;
    color: #94D7A2;
    margin-left: 10px;
}
.popup-btns button:nth-child(2)::before{
    background-color: #94D7A2;
}
.popup-btns button:hover{
    color: white;
}
@keyframes to-up{
    0%   {transform: translateY(500px);}
    100% {transform: translateY(0px)}
}